# files to ignore when commit to GitHub :D  Like....secrets, tokens and compiled python (.pyc) code!

# File containing all our API keys and such
keys.txt


# any compiled code created when python runs
*.pyc


# my configured bot.conf
#bot.conf


# nohup files from testing
nohup.txt
nohup_Disqus.txt
nohup_NYT.txt

# images files from testing
test_tweet_reply.png
